Repository voxpupuli/puppet-mlocate, pull requests merged in 2025-01, with the labels that each got.

#60 Stub out settings to match/extend EL10's default config
  data/RedHat-10.yaml
  metadata.json
Labels: enhancement

#63 drop support for Fedora 36,37,38 add support for Fedora 40,41
  data/RedHat-36.yaml
  data/RedHat-40.yaml
  data/RedHat-41.yaml
  metadata.json
Labels: backwards-incompatible

#64 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
